<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <title>Document</title>
</head>

<body>
    <%- include('../Components/Header.ejs') %>
        <main>
            <% if (products.length> 0) { %>
                <h1>My Current Products</h1>
                <div class="grid">
                    <% products.forEach(product => { %>
                        <article class="card product-item">
                            <header class="card__header">
                                <h1 class="product__title">
                                    <%= product.title %>
                                </h1>
                            </header>
                            <div class="card__image">
                                <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png"
                                    alt="img" />
                            </div>
                            <div class="card__content">
                                <h2 class="product__price">$<%= product.price %>
                                </h2>
                                <p class="product__description">
                                    <%= product.desc %>
                                </p>
                                <div class="quantity__cont">
                                    <form action = "/cart" method="POST" >
                                        <button type="submit">+</button>
                                        <input type="hidden" name="productId" value="<%= product.id %>">
                                    </form>
                                    <p>Quantity : <%= product.qty %></p>
                                    <form action = "/cart/deleteProduct/<%= product.id %>" method="POST" >
                                        <button type="submit">-</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card__actions">
                                <form action="/cart/deleteProduct/<%= product.id %>?direct=true" method="post">
                                    <button class="btn del" type="submit">Delete</button>
                                    <input type="hidden" name="productId" value="<%= product.id%>">
                                    <button class="btn" type="button"><a href="/products/<%= product.id %>">Details</a></button>
                                </form>
                            </div>
                        </article>
                        <% }) %>
                </div>
                <div class="info">
                    <div class="total-price">
                        <p>Total Price : <%= totalPrice %>$</p>
                    </div>
                    <div class="checkout">
                        <button>Checkout !</button>
                    </div>
                </div>
                <% } else { %>
                    <h1>NO CONTENT</h1>
                    <% } %>
        </main>
</body>

</html>